{%extends "main/wrapper.html" %}
{% block title %}
  Messages
{% endblock %}
{% block content %}

{% if not messages %}
  <p>No messages yet...</p>
{% else %}
  {% for message in messages %}
  <hr/>
  <div class="row p-3 mb-2 bg-light text-dark">
     <div class="col">
          <h5><a href="#">{{message.author}}</a></h5>
          <small>{{ message.date_sending|date:'Y-m-d H:i:s' }}</small><br/>
          <p>{{ message.text }}</p>
     </div>
  </div>
  <hr/>
  {% endfor %}
{% endif %}

{% include 'communication/send_message.html' %}
{% endblock %}
