{% extends 'registration/settings.html'%}

{% block title %}
  Change password
{% endblock %}

{% block profile %}
  <h1>Change password</h1>
  <form method="POST">
      <div class="col-7">
          <div class="form-group">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-success">Change password</button>
              <br/>
              <span class="helptext">
                <ul>
                  <li>Your password can’t be too similar to your other personal information.</li>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password can’t be a commonly used password.</li>
                  <li>Your password can’t be entirely numeric.</li>
              </ul>
            </span>
          </div>
      </div>
  </form>
{% endblock %}
