{% if user.is_authenticated %}
<h3>Add comment</h3>
      <div class="col-7">
          <div class="form-group">
              {{ csrt_token }}
              <p>
                  <label>Name:</label>
                  <input type="text" id="name_comment" name="name" class="form-control border border-primary" maxlength="255">
              </p>
              <p>
                  <label>Body:</label>
                  <textarea name="body" id="body_comment"  cols="80" rows="10" class="form  border-primary"></textarea>
              </p>
              <button class="btn btn-success" id="comment_btn" value="novyj-post-proverka-timezone">Comment it!</button>
          </div>
      </div>
{% endif %}
