{% extends 'main/wrapper.html'%}

{% block title %}
  Adding category
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Add Category</h1>
  <form method="POST">
      <div class="col-7">
          <div class="form-group">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-success">Add Category</button>
          </div>
      </div>
  </form>
{% else %}
  <h2 align="center">Locked</h2>
{% endif %}

<script type="text/javascript" src="/static/admin/js/urlify.js"></script>

<script type="text/javascript">
    document.getElementById("id_name").onkeyup = function() {
      var e = document.getElementById("id_slug");
      if (!e._changed) { e.value = URLify(document.getElementById("id_name").value, 50); }
    }
</script>

{% endblock %}
