{%extends "main/wrapper.html" %}
{% block title %}
  Blog {{author}}
{% endblock %}
{% block content %}
<h3 align="center">Blog  {{author}} </h3>
  <form method="GET" action="{% url 'search_results' author.id %}">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="q" placeholder="Search..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                    <button type="submit"  class="btn btn-primary ml-2">Search</button>
                </div>
            </div>
        </div>

  </form>
  <h3>Count posts: {{page_obj.end_index}} of {{page_obj.paginator.count}}</h3>
    {% for post in page_obj %}
    <div class="row p-3 mb-2 bg-light text-dark">
        <div class="col-2">
            {% if post.picture %}
                <img src="{{ post.picture.url }}" style="height: 130px; width:130px;"/>
            {% endif %}
       </div>
       <div class="col">
            <h5><a href="{% url 'show_post' post.slug %}">{{post.title}}</a></h5>
            <small>created by <a href="{% url 'show_blog' post.author.id %}"> {{post.author.username}}</a></small><br/>
            <small>Category : <a href="{% url 'show_category' post.category.slug %}">{{ post.category }}</a></small><br/>
            <small>created : {{ post.post_date|date:"Y-m-d" }}</small><br/>
            <small>edited : {{ post.update_date|date:"Y-m-d" }}</small><br/>
            {% if user.is_authenticated and user.id is post.author.id %}
              <small><a href="{% url 'edit_post' post.slug %}">(Edit)</a></small>
              <small><a href="{% url 'delete_post' post.slug %}">(Delete)</a></small>
            {% endif %}
            <p>{{ post.body|safe|slice:":350"}}</p>
       </div>
    </div>
    {% endfor %}
    {% include 'blog/_pagination.html'%}
{% endblock %}
