{%extends "main/wrapper.html" %}
{% block title %}
    {{post.title}}
{% endblock %}


{% block content %}
    <h3>{{post.title}}</h3>
    <small>Category : <a href="{% url 'show_category' post.category|slugify %}">{{ post.category }}</small><br/>
    <small>created : {{ post.post_date }}</small><br/>
    <small>edited : {{ post.update_date }}</small><br/>
    {% if user.is_authenticated and user.id is post.author.id %}
      <small><a href="{% url 'edit_post' post.slug %}">(Edit)</a></small>
      <small><a href="{% url 'delete_post' post.slug %}">(Delete)</a></small>
    {% endif %}
    {{post.body|safe|linebreaks}}
      <button type="button" class="btn btn-light"><a href="{% url 'show_blog' post.author.id %}">Visit blog << {{post.author.username}} >></a></button>
{% endblock %}
